*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
display:flex;
background:#f4f6fa;
min-height:100vh;
}

/* Sidebar */

.sidebar{
width:260px;
height:100vh;
background:#1f2937;
padding:30px 20px;
position:fixed;
left:0;
top:0;
}

.sidebar h2{
text-align:center;
font-size:35px;
margin-bottom:40px;
color:white;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
margin-bottom:15px;
}

.sidebar a{
display:block;
padding:15px;
text-decoration:none !important;
color:#fff !important;
font-size:18px;
font-weight:600;
background:rgba(255,255,255,.08);
border-radius:12px;
transition:0.3s;
}

.sidebar a:visited{
color:#fff !important;
}

.sidebar a:hover{
background:#2563eb;
transform:translateX(6px);
}

/* Main */

.main-content{
margin-left:290px;
padding:40px;
width:100%;
}

.main-content h1{
margin-bottom:30px;
font-size:40px;
}

/* Cards */

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
margin-bottom:40px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card h2{
font-size:35px;
color:#2563eb;
margin-bottom:10px;
}

/* Table */

table{
width:100%;
background:white;
border-collapse:collapse;
border-radius:15px;
overflow:hidden;
}

th{
background:#2563eb;
color:white;
padding:15px;
}

td{
padding:15px;
border-bottom:1px solid #ddd;
}

tr:hover{
background:#f3f4f6;
}