* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #020617, #0f172a, #111827);

  color: white;

  min-height: 100vh;
}

/* Container */

.container {
  width: 90%;

  margin: auto;

  padding: 40px 0;
}

.container h1 {
  font-size: 45px;

  margin-bottom: 40px;

  text-align: center;

  text-shadow: 0 0 20px #3b82f6;
}

/* Cart Box */

.cart-box {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 25px;

  margin-bottom: 25px;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  transition: 0.4s;
}

.cart-box:hover {
  transform: translateY(-8px);

  box-shadow: 0 0 30px rgba(59, 130, 246, 0.5);
}

/* Left Side */

.left {
  display: flex;

  align-items: center;

  gap: 25px;
}

.left img {
  width: 130px;

  height: 130px;

  object-fit: cover;

  border-radius: 20px;
}

.details h2 {
  margin-bottom: 10px;

  font-size: 25px;
}

.details p {
  color: #cbd5e1;

  margin-bottom: 8px;
}

/* Quantity */

.quantity {
  display: flex;

  align-items: center;

  gap: 15px;
}

.quantity a {
  width: 40px;

  height: 40px;

  display: flex;

  align-items: center;

  justify-content: center;

  text-decoration: none;

  background: #2563eb;

  border-radius: 50%;

  color: white;

  font-size: 24px;

  transition: 0.3s;
}

.quantity a:hover {
  box-shadow: 0 0 15px #2563eb;
}

.quantity span {
  font-size: 22px;

  font-weight: bold;
}

/* Remove */

.remove {
  padding: 12px 22px;

  border-radius: 30px;

  background: linear-gradient(90deg, #ef4444, #dc2626);

  color: white;

  text-decoration: none;

  transition: 0.3s;
}

.remove:hover {
  box-shadow: 0 0 20px #ef4444;
}

/* Total */

.total {
  margin-top: 40px;

  padding: 30px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.1);
}

.checkout-btn {
  padding: 15px 30px;

  border-radius: 35px;

  text-decoration: none;

  background: linear-gradient(90deg, #22c55e, #16a34a);

  color: white;

  font-weight: bold;

  transition: 0.4s;
}

.checkout-btn:hover {
  transform: translateY(-5px);

  box-shadow: 0 0 25px #22c55e;
}

/* Empty */

.empty-box {
  padding: 50px;

  text-align: center;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.05);
}

/* Responsive */

@media (max-width: 900px) {
  .cart-box {
    flex-direction: column;

    gap: 25px;

    text-align: center;
  }

  .left {
    flex-direction: column;
  }

  .total {
    flex-direction: column;

    gap: 20px;
  }
}
