body{

margin:0;

font-family:Arial,sans-serif;

background:#f5f7fb;

}


.container{

width:80%;

margin:50px auto;

}


.container h1{

margin-bottom:40px;

font-size:40px;

color:#111827;

}


.order-card{

display:flex;

align-items:center;

gap:30px;

background:white;

padding:25px;

margin-bottom:25px;

border-radius:20px;

box-shadow:
0 5px 15px rgba(0,0,0,.1);

transition:.4s;
}


.order-card:hover{

transform:translateY(-5px);

}


.order-card img{

width:150px;

height:150px;

object-fit:cover;

border-radius:15px;

}


.details{

flex:1;

}


.details h2{

margin-bottom:15px;

font-size:28px;

}


.details p{

font-size:18px;

color:#555;

margin:10px 0;

}


.status{

display:inline-block;

padding:10px 20px;

background:#dbeafe;

color:#2563eb;

border-radius:30px;

font-weight:bold;

}


.empty{

background:white;

padding:50px;

text-align:center;

border-radius:20px;

box-shadow:
0 5px 15px rgba(0,0,0,.1);

}