*{

margin:0;
padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}

body{

background:
linear-gradient(
135deg,
#020617,
#0f172a,
#111827
);

color:white;

min-height:100vh;

}



/* Container */

.container{

width:90%;

margin:auto;

padding:40px 0;

}

.container h1{

text-align:center;

font-size:45px;

margin-bottom:40px;

text-shadow:
0 0 20px #3b82f6;

}



/* Order Box */

.order-box{

display:flex;

align-items:center;

gap:30px;

padding:25px;

margin-bottom:25px;

border-radius:25px;

background:
rgba(
255,
255,
255,
0.05
);

backdrop-filter:blur(20px);

border:
1px solid rgba(
255,
255,
255,
0.1
);

transition:.4s;

}

.order-box:hover{

transform:
translateY(-8px);

box-shadow:
0 0 30px rgba(
59,
130,
246,
0.6
);

}



/* Image */

.order-box img{

width:140px;

height:140px;

object-fit:cover;

border-radius:20px;

}



/* Order Info */

.order-info{

flex:1;

}

.order-info h2{

font-size:28px;

margin-bottom:15px;

}

.order-info p{

margin-bottom:10px;

font-size:16px;

color:#cbd5e1;

}



/* Status */

.pending{

color:#f59e0b;

font-weight:bold;

}

.processing{

color:#3b82f6;

font-weight:bold;

}

.shipped{

color:#a855f7;

font-weight:bold;

}

.delivered{

color:#22c55e;

font-weight:bold;

}



/* Empty */

.container h2{

text-align:center;

margin-top:50px;

color:#cbd5e1;

}



/* Responsive */

@media(max-width:768px){

.order-box{

flex-direction:column;

text-align:center;

}

.order-box img{

width:200px;

height:200px;

}

}