*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}

body{

background:#f4f6fa;

padding:40px;

}

.container{

width:90%;
margin:auto;

}

h1{

margin-bottom:30px;

}

table{

width:100%;

background:white;

border-collapse:collapse;

}

th{

background:#2563eb;

color:white;

padding:15px;

}

td{

padding:15px;

text-align:center;

border-bottom:1px solid #ddd;

}

.approve{

background:#22c55e;

padding:10px 15px;

border-radius:8px;

color:white;

text-decoration:none;

margin-right:10px;

}

.reject{

background:#ef4444;

padding:10px 15px;

border-radius:8px;

color:white;

text-decoration:none;

}