{% load static %}

<!DOCTYPE html>
<html>

<head>

<title>

Admin Dashboard

</title>

<link rel="stylesheet"
href="{% static 'css/admin.css' %}">

</head>

<body>


<div class="sidebar">

<h2>

Student Essentials

</h2>

<ul>

<li>
<a href="">
Dashboard
</a>
</li>

<li>
<a href="">
Add Product
</a>
</li>

<li>
<a href="">
Manage Products
</a>
</li>

<li>
<a href="">
Orders
</a>
</li>

<li>
<a href="">
Users
</a>
</li>

<li>
<a href="">
Pending Requests
</a>
</li>

<li>
<a href="{% url 'logout' %}">
Logout
</a>
</li>

</ul>

</div>



<div class="main-content">

<h1>

Welcome

{{ request.user.username }}

</h1>


<div class="cards">

<div class="card">

<h2>

{{ products.count }}

</h2>

<p>

Total Products

</p>

</div>


<div class="card">

<h2>

{{ orders.count }}

</h2>

<p>

Orders

</p>

</div>


<div class="card">

<h2>

{{ users.count }}

</h2>

<p>

Users

</p>

</div>


<div class="card">

<h2>

{{ pending.count }}

</h2>

<p>

Pending Approvals

</p>

</div>

</div>



<h2>

Product List

</h2>

<table>

<tr>

<th>Name</th>

<th>Price</th>

<th>Category</th>

<th>Action</th>

</tr>

{% for product in products %}

<tr>

<td>

{{ product.name }}

</td>

<td>

₹{{ product.price }}

</td>

<td>

{{ product.category }}

</td>

<td>

<a href="#">

Edit

</a>

|

<a href="#">

Delete

</a>

</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>