{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cart</title>

    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container">
      <h1>My Cart</h1>

      {% for item in cart_items %}

      <div class="cart-box">
        <div class="left">
          <img
            src="{{ item.product.image.url }}"
            alt="{{ item.product.name }}"
          />

          <div class="details">
            <h2>{{ item.product.name }}</h2>

            <p>Price: ₹{{ item.product.price }}</p>

            <p>Subtotal: ₹{{ item.product.price|floatformat:0 }}</p>
          </div>
        </div>

        <div class="quantity">
          <a href="{% url 'decrease_quantity' item.id %}"> − </a>

          <span> {{ item.quantity }} </span>

          <a href="{% url 'increase_quantity' item.id %}"> + </a>
        </div>

        <a href="{% url 'remove_cart' item.id %}" class="remove"> Remove </a>
      </div>

      {% empty %}

      <div class="empty-box">
        <h2>Cart is Empty</h2>

        <p>Add products to continue shopping</p>
      </div>

      {% endfor %}

      <div class="total">
        <div>
          <h2>Total: ₹{{ total }}</h2>
        </div>

        <a href="{% url 'checkout' %}" class="checkout-btn">
          Proceed To Checkout →
        </a>
      </div>
    </div>
  </body>
</html>
