{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ category }} - Student Essentials</title>

    <link rel="stylesheet" href="{% static 'css/category.css' %}" />

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  </head>

  <body>
    {% include 'navbar.html' %}

    <!-- Hero -->

    <section class="category-hero">
      <h1>{{ category }} Products</h1>

      <p>Find the best products for your studies</p>
    </section>

    <!-- Products -->

    <section class="products-section">
      <div class="product-grid">
        {% for product in products %}

        <div class="product-card">
          <div class="image-box">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" />
          </div>

          <div class="product-content">
            <h3>{{ product.name }}</h3>

            <p>{{ product.description|truncatewords:15 }}</p>

            <div class="bottom">
              <span class="price"> ₹{{ product.price }} </span>

              <a href="{% url 'product_detail' product.id %}" class="view-btn">
                View Details
              </a>
            </div>
          </div>
        </div>

        {% empty %}

        <h2 class="empty">No Products Found</h2>

        {% endfor %}
      </div>
    </section>

    <footer>© 2026 Student Essentials</footer>
  </body>
</html>
