{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Login</title>

<link rel="stylesheet"
href="{% static 'css/auth.css' %}">

</head>

<body>
    <div class="bubbles">

<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>

</div>
<div class="container">

<div class="form-box">

<h1>

Login

</h1>


{% if messages %}

{% for message in messages %}

<div class="message">

{{ message }}

</div>

{% endfor %}

{% endif %}


<form method="POST">

{% csrf_token %}


<input
type="text"
name="username"
placeholder="Enter Username"
required>


<div class="input-box">

<label>

Select Role

</label>

<div class="select-wrapper">

<select
name="role"
required>

<option
value=""
disabled
selected>

Choose Role

</option>

<option value="user">

User

</option>

<option value="admin">

Admin

</option>

</select>

</div>

</div>


<input
type="password"
name="password"
placeholder="Enter Password"
required>


<button type="submit">

Login

</button>

</form>


<p>

Don't have an account?

<a href="{% url 'register' %}">

Register

</a>

</p>


</div>

</div>

</body>

</html>