{% load static %}

<!DOCTYPE html>
<html>
<head>

<title>My Orders</title>

<link rel="stylesheet"
href="{% static 'css/my_orders.css' %}">

<link rel="stylesheet"
href="{% static 'css/navbar.css' %}">

</head>

<body>

{% include 'navbar.html' %}

<div class="container">

<h1>My Orders</h1>

{% for order in orders %}

<div class="order-box">

<img src="{{ order.product.image.url }}">

<div class="order-info">

<h2>

{{ order.product.name }}

</h2>

<p>

Quantity:
{{ order.quantity }}

</p>

<p>

Price:
₹{{ order.total_price }}

</p>

<p>

Status:
<span class="{{ order.status|lower }}">

{{ order.status }}

</span>

</p>

<p>

Date:
{{ order.created_at }}

</p>

</div>

</div>

{% empty %}

<h2>

No Orders Found

</h2>

{% endfor %}

</div>

</body>
</html>