{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>

Order Success

</title>

<link rel="stylesheet"
href="{% static 'css/order_success.css' %}">

<link rel="stylesheet"
href="{% static 'css/navbar.css' %}">

</head>

<body>

{% include 'navbar.html' %}


<div class="container">

<div class="success-box">

<div class="success-icon">

✓

</div>


<h1>

Order Placed Successfully!

</h1>


<p class="subtitle">

Thank you for shopping with
Student Essentials 🎓

</p>


<p class="message">

Your order has been received and
is now being processed.

</p>



<div class="info-box">

<div class="info-card">



<h3>

Estimated Delivery

</h3>

<p>

3–5 Days

</p>

</div>



<div class="info-card">



<h3>

Payment Status

</h3>

<p>

Confirmed

</p>

</div>



<div class="info-card">



<h3>

Order Status

</h3>

<p>

Processing

</p>

</div>

</div>



<div class="buttons">

<a href="{% url 'home' %}"
class="home-btn">

Continue Shopping

</a>


<a href="{% url 'my_orders' %}"
class="orders-btn">

My Orders

</a>

</div>

</div>

</div>

</body>

</html>