{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>

        Pending Requests

    </title>

    <link rel="stylesheet"
          href="{% static 'css/pending.css' %}">

</head>

<body>

<div class="container">

<h1>

Pending Requests

</h1>


<table>

<tr>

<th>

Username

</th>

<th>

Action

</th>

</tr>


{% for user in pending %}

<tr>

<td>

{{ user.user.username }}

</td>

<td>

<a
href="{% url 'approve_user' user.id %}"
class="approve">

Approve

</a>


<a
href="{% url 'reject_user' user.id %}"
class="reject">

Reject

</a>

</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>